In [15]:
from pyspark.sql.types import IntegerType

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SimpleApp").getOrCreate()

In [3]:
spark.sql("SELECT 'hello' as my_col").show()

+------+
|my_col|
+------+
| hello|
+------+

In [86]:
# df = spark.read.format("csv").option("header", "true").load("Pokemon.csv")
df = spark.read.csv("Pokemon.csv", header = True)

In [88]:
# Name of pokemon that has better attack
df = df.withColumn("Attack", df["Attack"].cast(IntegerType()))

In [89]:
sel = df.select(df["Type 1"], df["Name"], df["Attack"].astype(IntegerType()))

In [90]:
sel.orderBy(sel["Attack"].desc()).limit(5).show()

+-------+--------------------+------+
| Type 1|                Name|Attack|
+-------+--------------------+------+
|Psychic| MewtwoMega Mewtwo X|   190|
|    Bug|HeracrossMega Her...|   185|
|Psychic|  DeoxysAttack Forme|   180|
| Dragon|RayquazaMega Rayq...|   180|
| Ground|GroudonPrimal Gro...|   180|
+-------+--------------------+------+

In [53]:
top_5 = df.orderBy("Attack", ascending = False).limit(5) 
# NOTE: if you put .show() at the end of the line above, you will see the data frame 
# but when you assign it to top_5 you're assigning the show which is temporary
# To assign, you need to remove the .show()

top_5.show()

+---+--------------------+-------+--------+-----+---+------+-------+-------+-------+-----+----------+---------+
|  #|                Name| Type 1|  Type 2|Total| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+--------------------+-------+--------+-----+---+------+-------+-------+-------+-----+----------+---------+
|150| MewtwoMega Mewtwo X|Psychic|Fighting|  780|106|   190|    100|    154|    100|  130|         1|     True|
|214|HeracrossMega Her...|    Bug|Fighting|  600| 80|   185|    115|     40|    105|   75|         2|    False|
|386|  DeoxysAttack Forme|Psychic|    null|  600| 50|   180|     20|    180|     20|  150|         3|     True|
|384|RayquazaMega Rayq...| Dragon|  Flying|  780|105|   180|    100|    180|    100|  115|         3|     True|
|383|GroudonPrimal Gro...| Ground|    Fire|  770|100|   180|    160|    150|     90|   90|         3|     True|
+---+--------------------+-------+--------+-----+---+------+-------+-------+-------+-----+----------+---------+

In [25]:
df.groupBy("Type 1").count().orderBy("count", ascending = False).show()

+--------+-----+
|  Type 1|count|
+--------+-----+
|   Water|  112|
|  Normal|   98|
|   Grass|   70|
|     Bug|   69|
| Psychic|   57|
|    Fire|   52|
|    Rock|   44|
|Electric|   44|
|   Ghost|   32|
|  Dragon|   32|
|  Ground|   32|
|    Dark|   31|
|  Poison|   28|
|Fighting|   27|
|   Steel|   27|
|     Ice|   24|
|   Fairy|   17|
|  Flying|    4|
+--------+-----+

In [29]:
df.select("Name").limit(5).show()

+--------------------+
|                Name|
+--------------------+
|           Bulbasaur|
|             Ivysaur|
|            Venusaur|
|VenusaurMega Venu...|
|          Charmander|
+--------------------+

In [35]:
df.select((df['Attack'] > 99).alias("Big Attack")).groupBy("Big Attack").count().show()

+----------+-----+
|Big Attack|count|
+----------+-----+
|      true|  210|
|     false|  590|
+----------+-----+

In [36]:
df.describe().show()

+-------+------------------+----------------+------+------+------------------+------------------+-----------------+------------------+----------------+-----------------+------------------+------------------+---------+
|summary|                 #|            Name|Type 1|Type 2|             Total|                HP|           Attack|           Defense|         Sp. Atk|          Sp. Def|             Speed|        Generation|Legendary|
+-------+------------------+----------------+------+------+------------------+------------------+-----------------+------------------+----------------+-----------------+------------------+------------------+---------+
|  count|               800|             800|   800|   414|               800|               800|              800|               800|             800|              800|               800|               800|      800|
|   mean|         362.81375|            null|  null|  null|          435.1025|          69.25875|         79.00125|           73.8425|           72.82|          71.9025|           68.2775|           3.32375|     null|
| stddev|208.34379756406656|            null|  null|  null|119.96303975551908|25.534669032332076|32.45736586949845|31.183500559332924|32.7222941688016|27.82891579711746|29.060473717161447|1.6612904004849451|     null|
|    min|                 1|       Abomasnow|   Bug|   Bug|               180|                 1|                5|                10|              10|              100|                10|                 1|    False|
|    max|                99|Zygarde50% Forme| Water| Water|               780|                99|              190|                99|              99|               99|                99|                 6|     True|
+-------+------------------+----------------+------+------+------------------+------------------+-----------------+------------------+----------------+-----------------+------------------+------------------+---------+

In [52]:
top_5.write.csv("top_5_pokemon.csv")

In [50]:
top_5.toPandas().to_csv('top_5_pokemon_file.csv')

In [56]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, col

window = Window.partitionBy(df['Type 1']).orderBy(df['Attack'].desc())

In [68]:
top_5_type = df.select('*', rank().over(window).alias('rank')).filter(col('rank') <= 5).\
    select("Type 1", "Name", "Attack", "rank")
top_5_type.show(100, truncate = False)

+--------+-------------------------+------+----+
|Type 1  |Name                     |Attack|rank|
+--------+-------------------------+------+----+
|Water   |GyaradosMega Gyarados    |155   |1   |
|Water   |SwampertMega Swampert    |150   |2   |
|Water   |KyogrePrimal Kyogre      |150   |2   |
|Water   |SharpedoMega Sharpedo    |140   |4   |
|Water   |Kingler                  |130   |5   |
|Poison  |Toxicroak                |106   |1   |
|Poison  |Muk                      |105   |2   |
|Poison  |Nidoking                 |102   |3   |
|Poison  |Seviper                  |100   |4   |
|Poison  |Garbodor                 |95    |5   |
|Steel   |AegislashBlade Forme     |150   |1   |
|Steel   |MetagrossMega Metagross  |145   |2   |
|Steel   |AggronMega Aggron        |140   |3   |
|Steel   |Metagross                |135   |4   |
|Steel   |SteelixMega Steelix      |125   |5   |
|Rock    |Rampardos                |165   |1   |
|Rock    |TyranitarMega Tyranitar  |164   |2   |
|Rock    |DiancieMega Diancie      |160   |3   |
|Rock    |Archeops                 |140   |4   |
|Rock    |AerodactylMega Aerodactyl|135   |5   |
|Rock    |Gigalith                 |135   |5   |
|Ice     |Mamoswine                |130   |1   |
|Ice     |GlalieMega Glalie        |120   |2   |
|Ice     |Avalugg                  |117   |3   |
|Ice     |Beartic                  |110   |4   |
|Ice     |Piloswine                |100   |5   |
|Ghost   |BanetteMega Banette      |165   |1   |
|Ghost   |GiratinaOrigin Forme     |120   |2   |
|Ghost   |Banette                  |115   |3   |
|Ghost   |Trevenant                |110   |4   |
|Ghost   |Dusknoir                 |100   |5   |
|Ghost   |GiratinaAltered Forme    |100   |5   |
|Ghost   |GourgeistSuper Size      |100   |5   |
|Fairy   |Xerneas                  |131   |1   |
|Fairy   |Granbull                 |120   |2   |
|Fairy   |Snubbull                 |80    |3   |
|Fairy   |Slurpuff                 |80    |3   |
|Fairy   |Aromatisse               |72    |5   |
|Psychic |MewtwoMega Mewtwo X      |190   |1   |
|Psychic |DeoxysAttack Forme       |180   |2   |
|Psychic |GalladeMega Gallade      |165   |3   |
|Psychic |HoopaHoopa Unbound       |160   |4   |
|Psychic |MewtwoMega Mewtwo Y      |150   |5   |
|Psychic |DeoxysNormal Forme       |150   |5   |
|Dragon  |RayquazaMega Rayquaza    |180   |1   |
|Dragon  |GarchompMega Garchomp    |170   |2   |
|Dragon  |KyuremBlack Kyurem       |170   |2   |
|Dragon  |Rayquaza                 |150   |4   |
|Dragon  |Zekrom                   |150   |4   |
|Flying  |TornadusIncarnate Forme  |115   |1   |
|Flying  |TornadusTherian Forme    |100   |2   |
|Flying  |Noivern                  |70    |3   |
|Flying  |Noibat                   |30    |4   |
|Bug     |HeracrossMega Heracross  |185   |1   |
|Bug     |PinsirMega Pinsir        |155   |2   |
|Bug     |BeedrillMega Beedrill    |150   |3   |
|Bug     |ScizorMega Scizor        |150   |3   |
|Bug     |Escavalier               |135   |5   |
|Electric|Electivire               |123   |1   |
|Electric|Luxray                   |120   |2   |
|Electric|Eelektross               |115   |3   |
|Electric|ThundurusIncarnate Forme |115   |3   |
|Electric|ThundurusTherian Forme   |105   |5   |
|Fire    |BlazikenMega Blaziken    |160   |1   |
|Fire    |DarmanitanStandard Mode  |140   |2   |
|Fire    |CharizardMega Charizard X|130   |3   |
|Fire    |Flareon                  |130   |3   |
|Fire    |Ho-oh                    |130   |3   |
|Ground  |GroudonPrimal Groudon    |180   |1   |
|Ground  |Groudon                  |150   |2   |
|Ground  |LandorusTherian Forme    |145   |3   |
|Ground  |Rhyperior                |140   |4   |
|Ground  |Excadrill                |135   |5   |
|Dark    |AbsolMega Absol          |150   |1   |
|Dark    |Yveltal                  |131   |2   |
|Dark    |Absol                    |130   |3   |
|Dark    |Honchkrow                |125   |4   |
|Dark    |Bisharp                  |125   |4   |
|Fighting|LucarioMega Lucario      |145   |1   |
|Fighting|Conkeldurr               |140   |2   |
|Fighting|Machamp                  |130   |3   |
|Fighting|Sawk                     |125   |4   |
|Fighting|Mienshao                 |125   |4   |
|Grass   |AbomasnowMega Abomasnow  |132   |1   |
|Grass   |Breloom                  |130   |2   |
|Grass   |Cacturne                 |115   |3   |
|Grass   |SceptileMega Sceptile    |110   |4   |
|Grass   |Leafeon                  |110   |4   |
|Normal  |Slaking                  |160   |1   |
|Normal  |Regigigas                |160   |1   |
|Normal  |LopunnyMega Lopunny      |136   |3   |
|Normal  |Ursaring                 |130   |4   |
|Normal  |MeloettaPirouette Forme  |128   |5   |
+--------+-------------------------+------+----+

In [69]:
top_5_type.toPandas().to_csv('top_5_type_pokemon_file.csv')

In [70]:
df.printSchema()

root
 |-- #: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Type 1: string (nullable = true)
 |-- Type 2: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- HP: string (nullable = true)
 |-- Attack: integer (nullable = true)
 |-- Defense: string (nullable = true)
 |-- Sp. Atk: string (nullable = true)
 |-- Sp. Def: string (nullable = true)
 |-- Speed: string (nullable = true)
 |-- Generation: string (nullable = true)
 |-- Legendary: string (nullable = true)

In [79]:
# Seems like another possible solution rather than use the window function is to make a temp table

from pyspark.sql.functions import col

table = df.select(col("Name").alias("name"), col("Attack").alias("attack"), col("Type 1").alias("type"))
table.registerTempTable("table")
table.show()

+--------------------+------+-----+
|                name|attack| type|
+--------------------+------+-----+
|           Bulbasaur|    49|Grass|
|             Ivysaur|    62|Grass|
|            Venusaur|    82|Grass|
|VenusaurMega Venu...|   100|Grass|
|          Charmander|    52| Fire|
|          Charmeleon|    64| Fire|
|           Charizard|    84| Fire|
|CharizardMega Cha...|   130| Fire|
|CharizardMega Cha...|   104| Fire|
|            Squirtle|    48|Water|
|           Wartortle|    63|Water|
|           Blastoise|    83|Water|
|BlastoiseMega Bla...|   103|Water|
|            Caterpie|    30|  Bug|
|             Metapod|    20|  Bug|
|          Butterfree|    45|  Bug|
|              Weedle|    35|  Bug|
|              Kakuna|    25|  Bug|
|            Beedrill|    90|  Bug|
|BeedrillMega Beed...|   150|  Bug|
+--------------------+------+-----+
only showing top 20 rows

In [83]:
top_5_type_temp_table = spark.sql('with my_ranks as (\
           select *, rank() over (partition by type order by attack desc) as rank from table)\
           select type, name, rank from my_ranks\
           where rank <= 5')
top_5_type_temp_table.show()

+------+--------------------+----+
|  type|                name|rank|
+------+--------------------+----+
| Water|GyaradosMega Gyar...|   1|
| Water|SwampertMega Swam...|   2|
| Water| KyogrePrimal Kyogre|   2|
| Water|SharpedoMega Shar...|   4|
| Water|             Kingler|   5|
|Poison|           Toxicroak|   1|
|Poison|                 Muk|   2|
|Poison|            Nidoking|   3|
|Poison|             Seviper|   4|
|Poison|            Garbodor|   5|
| Steel|AegislashBlade Forme|   1|
| Steel|MetagrossMega Met...|   2|
| Steel|   AggronMega Aggron|   3|
| Steel|           Metagross|   4|
| Steel| SteelixMega Steelix|   5|
|  Rock|           Rampardos|   1|
|  Rock|TyranitarMega Tyr...|   2|
|  Rock| DiancieMega Diancie|   3|
|  Rock|            Archeops|   4|
|  Rock|AerodactylMega Ae...|   5|
+------+--------------------+----+
only showing top 20 rows